@import url(reset.css);

html,
body {
  width: 100%;
  height: 100%;
}

.chessboard-container {
  display: flex;
  justify-content: center;
}

.chessboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.column {
  display: flex;
  flex-direction: column-reverse;
}

.column > * {
  text-align: center;
  padding: 24px;
  background-color: rgb(228, 228, 228);
}

.colored-box {
  background-color: dodgerblue;
}

button {
  text-decoration: none;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
