@import url(reset.css);

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

h3 {
  font-size: 16px;
}

a {
  text-decoration: none;
}

header > img {
  margin-bottom: 12px;
}

.header-link {
  color: rgb(26, 126, 226);
  background: none;
  font-size: 14px;
  text-transform: uppercase;
}
.header-link:hover {
  opacity: 0.8;
}

strong {
  font-weight: bold;
}

#randomized-box {
  text-align: center;
  margin: 16px;
  font-weight: bold;
}

.main-menu {
  margin: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.blue-button {
  background-color: dodgerblue;
  color: white;
  width: 200px;
  height: 50px;
  align-content: center;
  text-align: center;
  font-size: large;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.blue-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 36px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: fixed;
  bottom: 5px;
  width: 100%;
}

#homepage-logo-header {
  width: 60px;
}

#homepage-logo-footer {
  width: 30px;
}

.chessboard-container {
  display: flex;
  justify-content: center;
}

.chessboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.column {
  display: flex;
  flex-direction: column-reverse;
}

.column > * {
  text-align: center;
  padding: 20px;
  background-color: rgb(228, 228, 228);
}

.colored-box {
  background-color: dodgerblue;
}

button {
  text-decoration: none;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
#countdown {
  margin: 24px 0px 12px 0px;
}

#score-menu {
  text-align: center;
}
